extends layout

block content
  .card.py-3
    .card-title
      h1 Logged In
    .card-body
      .row
        .col
          h3 Hi, #{name}, I am happy to see you!
          p Welcome to your profile!
      .row 
        .col
          a(href="/daily-stats")
            button.btn.btn-danger Entrez mes stats du jour
      .row
        .col
          a(href="/complete-profile")
            button.btn.btn-danger Complèter mon profil
      
